<!DOCTYPE html>
<html>
<head>
    <title>Pilih Mata Kuliah</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="card">
    <h2>Pilih Mata Kuliah</h2>

    <form method="POST" action="/quiz">
        <button type="submit" name="subject" value="ict">ICT Literacy</button>
        <br><br>

        <button type="submit" name="subject" value="komputer">Dasar Komputer</button>
        <br><br>

        <button type="submit" name="subject" value="internet">Internet & Keamanan Digital</button>
        <br><br>

        <button type="submit" name="subject" value="logika">Logika & Algoritma Dasar</button>
        <br><br>

        <button type="submit" name="subject" value="ti">Teknologi Informasi Umum</button>
    </form>
</div>

</body>
</html>